body{
    color: black;

}

#initimg{
    float: left;
}
.STitles{

    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

.Titles{

    display: flex;
    justify-content: center;
    font: times;
    color: black;
    font-size: 1em;
}

.Wel{
    font-size: 4em;
}
h3{
    text-align: center;
    font-size: 1.9em;
}
h4{
    text-align: center;
    font-size: 1.2em;
}

.content{

    margin-top: 5em;
    margin-left: 15em;
    margin-right: 15em;

    /* Flexbox commands for Photos*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.link{
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 1, 0.2);
}
.link img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#fc{
    grid-area: facebook;
    margin-top: 2em;
}
#sk{
    grid-area: sket;
    margin-top: 2em;
}
.text{

font: "noto Sans";
color: darkslategray;
font-size: 1.5em;

}
footer{

    margin-top: 4em;
    text-align: center;
    font-size: 2em;
    color: black;
}

@media(max-width: 500px){
    .Titles{
        
        margin-top: 3em;
        font-size: 0.75em;
    }
    .text{
        margin-top: 0.5em;
        margin-left: 0.75em;

    }
    .img{
            max-width: 100%;
            max-height: 100%;
    }
    .content{
        margin-left: 1em;
        margin-right: 1em;
    }
}